@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Readex-Light;
  font-weight: 300;
  src: url('./assets/fonts/ReadexPro-Light.ttf') format('truetype');;
}

@font-face {
  font-family: Amiri-Regular;
  font-weight: 400;
  src: url('./assets/fonts/Amiri-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Amiri-Italic;
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/Amiri-Italic.ttf') format('truetype');
}

body {
  font-family: Readex-Light;
}

@layer components {
  body {
    color: theme('colors.white');
    background-color: theme('colors.main-background');
  }
}
